USE [CATALOGO_P3_DB]
GO
/****** Object:  Table [dbo].[ALTERACIONESPUBLI_ADMIN]    Script Date: 15/7/2024 22:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALTERACIONESPUBLI_ADMIN](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdPublicacion] [int] NOT NULL,
	[FechaModificacion] [datetime] NOT NULL,
	[TipoModificacion] [int] NOT NULL,
	[IdAdministrador] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRAS]    Script Date: 15/7/2024 22:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRAS](
	[IdCompra] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdPublicacion] [int] NOT NULL,
	[QComprada] [int] NOT NULL,
	[Cancelada] [bit] NOT NULL,
	[PrecioUnitarioCompra] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ALTERACIONESPUBLI_ADMIN]  WITH CHECK ADD FOREIGN KEY([IdPublicacion])
REFERENCES [dbo].[PUBLICACIONES] ([IdPublicacion])
GO
ALTER TABLE [dbo].[COMPRAS]  WITH CHECK ADD FOREIGN KEY([IdPublicacion])
REFERENCES [dbo].[PUBLICACIONES] ([IdPublicacion])
GO
ALTER TABLE [dbo].[COMPRAS]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
