.searchBox {
    display: flex;
    max-width: 300px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #2f3640;
    border-radius: 50px;
    position: relative;
}

.searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
/*hover effect*/
button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
}
/*button pressing effect*/
button:active {
    box-shadow: none;
    transform: translateY(0);
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 24px 46px 24px 26px;
}


.btnSignOut {
    --bg: #212529;
    --hover-bg: #ff90e8;
    --hover-text: #000;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 10px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
    font-family:'Segoe UI';
    font:bolder;
}

    .btnSignOut:hover {
        color: var(--hover-text);
        transform: translate(-0.25rem, -0.25rem);
        background: rgb(34,195,80);
        background: linear-gradient(0deg, rgba(34,195,80,1) 0%, rgba(255,251,243,1) 100%);
        box-shadow: 0.25rem 0.25rem var(--bg);
    }

    .btnSignOut:active {
        transform: translate(0);
        box-shadow: none;
    }

.cardUsuario {
    --main-color: #fff;
    --submain-color: #ccc;
    --bg-color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    width: 300px;
    height: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: var(--bg-color);
}

.cardUsuario__img {
    height: 192px;
    width: 100%;
}

    .cardUsuario__img svg {
        height: 100%;
        border-radius: 20px 20px 0 0;
    }

.cardUsuario__avatar {
    position: absolute;
    width: 114px;
    height: 114px;
    background: var(--bg-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 57px);
}

    .cardUsuario__avatar svg {
        width: 100px;
        height: 100px;
    }

.cardUsuario__title {
    margin-top: 60px;
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
}

.cardUsuario__subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    color: var(--submain-color);
}

.cardUsuario__btn {
    margin-top: 15px;
    width: 76px;
    height: 31px;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 11px;
    color: var(--main-color);
    background: var(--bg-color);
    text-transform: uppercase;
    transition: all 0.3s;
}

.cardUsuario__btn-solid {
    background: var(--main-color);
    color: var(--bg-color);
}

.cardUsuario__btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
}

.cardUsuario__btn-solid:hover {
    background: var(--bg-color);
    color: var(--main-color);
}